/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 15%;
  }
  #index-banner .section {
    top: 10%;
  }
  
}
@media only screen and (min-width:992px){
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }

}

@media only screen and (max-width : 600px) { 
  #index-banner .section {
    top: 0;
  }

}

@media only screen and (max-width: 366px){
  #btn-prog{
    margin-top: 5%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.topo-fixo{
  /*position: fixed;
  top: 0;
  width: 100%;
  z-index:  2;*/
  color: #fff !important;
}


#text-left{
  margin-left: 2%;
}

#btnR{
  display: block;
  float: right;
  margin-right: 10px;
}

#staggered-test>li{
  opacity: 0;
}

#toponav{
  color: white !important;
}

.apoio{
width: 30%;
height: auto;
}

.texto-modal{
  color: #000;
}

.grad-1{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}

#sidenav-overlay {
  z-index: 996;
  }

  .paint{
    will-change: transform;
  }

  #img-section{
    width: 100%;
    height: auto;
    padding: 2%;
  }

  .mandarin-sorbete{
    background-color: #ffb142;
  }

  #para-title{
    font-size: 2.1em;
    text-shadow: 0.4px 0.4px #000;
  }